/* Utility */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

.container {
    width: 70%;
    margin: auto;
}

.smallIcon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.col2 {
    width: calc(100%/2);
    height: 100%;
    float: left;
}

.col3 {
    width: calc(90%/3);
    height: 650px;
    float: left;
    border-radius: 5px;
}

.boxCard {
    background: white;
    box-shadow: 0 0 10px lightgrey;
}

.medImg {
    width: 150px !important;
}

.alRght {
    text-align: right;
}

.bgLightBlue {
    background-color: #f4f9fd;
}

.bgWhite {
    background-color: white;
}

.bgLightOrange {
    background-color: #fff4ef;
}

.btnOrange {
    background-color: #fe775a;
}

.arrow {
    border: solid #364d5f;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.orangeCheck {
    color: white;
    background: #fe775a;
    padding: 1px 4px;
    border-radius: 50%;
    font-size: 13px;
    margin-right: 10px;
}

/* Page */
body {
    background-color: red;
    color: #364d5f;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 200px;
    font-weight: 600;
}

i {
    margin: 0px 0 2px 10px;
}

.topRow, .bottomRow {
    height: calc(100%/2);
    line-height: 100px;
}

.topRow {
    border-bottom: 1px solid #364d5f;
}

.smallGlobe {
    background-color: #364d5f;
    -webkit-mask: url('../img/globe.svg') no-repeat center;
    mask: url('../img/globe.svg') no-repeat center;
    mask-size: 90%;
    -webkit-mask-size: 90%;
    display: inline-block;
}

.col2 span {
    display: inline-block;
    margin-right: 5px;
}

.col2 ul li, .col3 ul li {
    list-style: none;
    display: inline-block;
}

.vertical-divisor {
    margin: 0 5px;
}

.topRow .col2:nth-child(2) {
    text-align: right;
}

.medBtn {
    color: #fe775a;
    border: 1px solid #fe775a;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 10px;
}

.medBtn:nth-child(3) {
    color: white;
    background-color: #fe775a;;
}

.siteLogo {
    vertical-align: middle;
    width: 110px;
}

.bottomRMenu li{
    margin: 0 10px;
}

/* Introduction */
.imgBck {
    text-align: right;
}

.introContent {
    position: absolute;
    left: 15%;
    padding-top: 3%;
    width: 35%;
}

.introContent h1 {
    font-size: 50px;
    font-weight: 700;
}

.introContent p {
    padding-top: 30px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 50px;
}

.introContent a, .horizProduct a{
    text-decoration: none;
    color: white;
    padding: 20px 29px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

.introContent p:nth-child(4) {
    margin-top: 15px;
    font-size: 14px;
}

.imgCompl {
    position: absolute;
    background-color: #afebe4;
    height: 82px;
    width: 100%;
    top: 812px;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
}

/* Products */
.mainProducts > .container {
    text-align: center;
}

.mainProducts > .container img {
    width: 20%;
    margin-top: 3%;
}

.mainProducts h2 {
    font-size: 35px;
}

.mainProducts p {
    margin: 35px 12%;
    font-size: 17px;
    font-weight: 600;
    line-height: 30px;
}

.horizProduct {
    height: 350px;
    text-align: left;
    border-radius: 5px;
    margin-bottom: 4%;
}

.horizProduct .col2:nth-child(1) {
    width: 30%;
    text-align: center;
}

.horizProduct .col2:nth-child(2) {
    width: 70%;
    text-align: left;
}

.horizProduct img {
    height: 150px;
    width: 150px;
    margin-top: 50px;
}

.horizProduct a {
    display: inline-block;
    margin-top: 40px;
}

.col2 > div {
    height: 50%;
}

.horizProduct p, .horizProduct h4, .horizProduct ul {
    margin: 20px 0px;
    width: 80%;
}

.horizProduct h3, .verticalProducts h3{
    font-size: 25px;
}

.horizProduct h4, .col3 h4{
    text-transform: uppercase;
    font-size: 20px;
}

.horizProduct h4::after {
    content: "_____________________________";
}

.hubCrm {
    transform: translate(0, 50%);
}

.horizProduct li {
    font-weight: 600;
    margin-right: 15px;
}

.verticalProducts .col3:nth-child(2) {
    margin: 0 5%;
}

.col3 img {
    margin-top: 20px;
    margin-bottom: 25px;
    width: 100px;
}

.col3 p {
    margin: 25px 30px;
    font-weight: 600;
    line-height: 30px;
}

.col3 hr {
    margin: 18% 10% 10% 10%;
    border: 1px solid #364d5f;
}

.col3 ul li {
    text-align: left;
    display: block;
    margin-left: 10%;
    font-weight: 600;
}

.col3 ul {
    margin-top: 25px;
}

.verticalProducts a {
    text-decoration: none;
    color: white;
    padding: 20px 29px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

.verticalProducts > .col3 > div {
    padding: 65px 0px;
}